* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	background: black;
}

.root {
	height: 100%;
}

.react-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	display: flex;
}

section {
	overflow: scroll;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-content: center;
}

canvas {
	margin: auto;
}

header {
	box-sizing: border-box;
	display: flex;
	line-height: 40px;
	width: 100%;
	height: 40px;
	background: white;
	border-bottom: solid thin black;
	padding: 0 30px;
}

input {
	flex-grow: 1;
}

nav {
	float: right;
	padding: 0 10px;
}

svg {
	cursor: pointer;
	padding: 0 4px;
	height: 1em;
}

svg:hover {
	fill: orange;
}

svg:active {
	position: relative;
	top: 1px;
}

svg.play-pause {
	width: 26px;
	height: 26px;
	position: relative;
	top: 5px;
}

svg.is-disabled {
	fill: gray;
	cursor: default;
}

svg.is-disabled:active {
	position: static;
}

/* SIDEBAR */

aside {
	min-width: 300px;
	background-color: white;
	border-right: 1px solid black;
}

.speed-controls {
	padding: 10px;
	text-align: center;
}